body{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
a{
    text-decoration: none;
}
button{
    border: none;
}
.container{
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
}
img{
    width: 100%;
}
@media screen and (min-width: 768px){
    .container{
        width: 768px;
    }
}
@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }
}